* {
    box-sizing: border-box;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
    border: 1px solid #f76707;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: auto;
}

.col {
    display: flex;
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: auto;
    background-color: black;
    opacity: 0;
}
