* {
    box-sizing: border-box;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-direction: column;
    border: 1px solid #f76707;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    width: 30px;
    height: 30px;
    border: 1px solid #f76707;
}
